.events
  .service
    %h1
      =@service.name
    %p
      =@service.description
  .list
    -@events.each do |event|
      .event
        %h2
          =event.name
        %p
          =event.description
