!!! XML
!!! Strict
%html{html_attrs}
  %head
    %meta{'http-equiv'=>'Content-Type', :content=>'text/html;charset=utf-8'}
    %meta{'name'=>'Description', :content => settings.board_name}
    
    %title
      =settings.board_name
    
    %link{:type=>'text/css', :rel=>'stylesheet', :href=>'http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css', :media =>'screen'}
    %link{:type=>'text/css', :rel=>'stylesheet', :href=>'/stylesheets/main.css', :media =>'screen'}
  %body
    #doc
      #hd.page-section
        #logo
          =settings.board_name
        -if ! authorized?
          #account
            %a{:href => '/login'} Login
      #bd.page-section
        =yield
        
      #ft.page-section
        %p.small
          &copy 2010 Your company name
