/* General markup settings */
html { background-color: gray; }

body { font-family: sans-serif; }

h1 { font-size: 167%; }
h2 { font-size: 153.9%; }

h1, h2 {
  margin: 1em 0;
  font-weight: bold;
}

p {
  font-size: 108%;
  color: black;
  text-align: justify; }

p.small { font-size: 85%; }

.page-section {
  padding: 1em;
  margin: 2em;
  border: 4px dashed gray;
  background-color: lightgray;
}

#hd #logo {
  font-size: 197%;
  font-weight: bold;
  float: left;
}

#hd #account {
  float: right;
}

.events .list {
  margin-left: 2em;
}

.event { border: 2px dashed gray; padding: 1em; margin: 1em; }

.service .events p { font-weight: bold; text-align: right;}

.navigation {
  width: 100%;
  margin-top: 1em;
}

.navigation p {
  text-align: center;
}

.navigation p a.prev { margin-right: 2em; }
.navigation p a.next { margin-left: 2em; }

.services .admin-actions, .events .admin-actions {
  margin: 1em 0;
}

.service .admin-actions, .event .admin-actions {
  margin: 0;
}
