.services
  .list
    -@services.each do |service|
      .service
        %h1
          =service.name
        %p
          =service.description
        -if authorized? && admin_url?
          .admin-actions
            =button_link_tag('Edit',"/#{service.id}/edit")
            =button_delete_tag('Delete', "/#{service.id}", "Are you sure you want to delete service and all the events?")
        .events
          %p
            =link_tag("Events", "/#{service.id}/")
  
  -if authorized? && admin_url?
    .admin-actions
      =button_link_tag('New service', '/new')
